<div class="row">
  <p>Thank you for taking the time to visit our humble website</p>
  <br>
  <p>When we started out 3 years ago, we were a photography shop focused on
    professional canine photography. We had a great run, made a lot of
    friends, and pleased many happy customers. Unfortunately we began to
    struggle under the weight of our own size.</p>
  <br>
  <p>As you can imagine, when you are a specialist in a niche market, your
    value skyrockets. We could not keep up with the demand. Around this same
    time the "incidents" occured.</p>
  <br>
  <p>First, we were made aware of a significant data breach orchestrated
    by the group: "German Shepherd Hack Team". After they copied our internal
    database, they distributed it online.</p>
  <br>
  <p>To make matters worse, another incident occured shortly after. An unknown
    individual or group of individuals got back into our systems and took
    everything down. Law enforcement is yet to identify this second attacker.
  </p>
  <br>
  <p>But we here at Bulldog Industries are not known to quit! We push on! This
    lead us to where we are today. Shortly after the photography business
    crashed we leveraged our same infrastructure to build a thriving
    social media platform! One the likes of which the world has never seen!</p>
  <p>We currently service over 15,000 Bullies (users)! And have over 7,400
    business partners of which we sell data to.</p>
  <br>
  <p>Our pledge to you is that we will always maintain the highest level of
    security and privacy. Under no situation would we ever allow an
    unauthorized group to access your data.</p>
  <br>
  <p>Fool us once. Shame on you. Fool us twice. Shame on you!</p>
  <br>
  <p>-Winston Churchy (CEO, Bulldog Industries)</p>
</div>
