/* You can add global styles to this file, and also import other style files */
h3.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  /* background:#b71212; */
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:-1;
}

/* I can't tell if I'm getting old or what, but the default text size is too
small. 14px? Really? */
p {
  font-size: 20px;
}

a {
  font-size: 20px;
}

img {
  width: 95%;
}
