<br>
<div class="row text-center">
  <h1>Top Monthly Users</h1>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <div class="row">
        <div class="col-md-4 text-center" *ngFor="let user of users;" style="">
            <a href="/profile/{{ user.username }}">
              <img src="./assets/pictures/{{ user.rand }}.jpg" class="circle-avatar" style="width:200px;height:200px;margin-left:auto;margin-right:auto;"/>
              <p>{{ user.name }}</p>
              <p>+{{ user.username }}</p>
            </a>
        </div>
      </div>
    </div>
</div>
