<br>
<div class="row text-center">
  <h1>Top Monthly Users</h1>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <div class="row">
        <div class="col-md text-center" *ngFor="let user of users;" style="margin: 2em;min-width:200px;display:inline-block;">
            <img src="./assets/bulldog.jpg" class="img-responsive" style="width:200px;height;200px;"/>
            <p>{{ user.name }}</p>
            <p>{{ user.username }}</p>
        </div>
      </div>
    </div>
</div>
