<div class="jumbotron text-center">
  <h1>Bulldog Industries</h1>
  <p class="lead">Welcome to Bulldog Industries</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Enhanced Security</h3>
  </div>
  <div class="col-md-4">
    <h3>Trusted Reliability</h3>
  </div>
  <div class="col-md-4">
    <h3>Incredible Value</h3>
  </div>
</div>
