<div class="jumbotron text-center">
  <h1>Bulldog Industries</h1>
  <p class="lead">High Quality Photography is Only a Bark Away</p>
  <div>
    <img src="assets/bulldog.jpg" class="img-rounded" alt="Bulldog">
    <!-- Source of picture: https://commons.wikimedia.org/wiki/File:Ozbulldog.jpg -->
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="title">Enhanced Security</h3>
    <p>How many companies have been breached multiple times and have lived to
       tell the tale? Thanks to our industry leading company culture, we've
       developed an atmosphere that takes the worry of security off each
       employee. No more worrying about "Did I use the same password?",
       that's for the Info Sec guys to handle!</p>
  </div>
  <div class="col-md-4">
    <h3 class="title">Trusted Reliability</h3>
    <p>At Bulldog Industries, your photos are only a days shipping away!*
       Unlike our competitors, we are a one stop operation. We hire the
       photographers, edit the photos, and directly upload them to our
       exclusive marketplace! You wont find a better deal anywhere else!</p>
  </div>
  <div class="col-md-4">
    <h3 class="title">Incredible Value</h3>
  </div>
</div>
