<div id="top" class="jumbotron text-center">
  <h1>Bulldog.social</h1>
  <p class="lead">The fun social network</p>
  <div>
    <img src="assets/bulldog.jpg" class="img-rounded" alt="Bulldog" style="width:60%;height:60%;">
    <!-- Source of picture: https://commons.wikimedia.org/wiki/File:Ozbulldog.jpg -->
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <h3 class="title">Rapidly Growing!</h3>
    <p>Join one of the fastest growing social networks with over 15,000 members!</p>
    <a href="/users" class="btn btn-primary">Users</a>
  </div>
  <div class="col-md-6 text-center">
    <h3 class="title">Sign Up!</h3>
    <p>Signing up is easy and fast!</p>
    <a href="/register" class="btn btn-primary">Sign Up</a>
  </div>
</div>
