<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">Bulldog.social</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  	<ul class="nav navbar-nav navbar-right">
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/profile']">Profile</a></li>
      <li *ngIf="authService.loggedOut()"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="authService.loggedOut()"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']" style="padding-right:2em;">Register</a></li>
    	<li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#" style="padding-right:2em;">Logout</a></li>
    </ul>
  </div>
</nav>
